[include]
	path = ~/.local/git/config
[user]
	name = mmugi
	email = 32477854+mmugi@users.noreply.github.com
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[merge]
	ff = false
[pull]
	ff = only
[push]
	default = simple
[fetch]
	prune = true
